<div id="container" style="height: 245px; width: 500px"></div>
<script type="text/javascript" charset="UTF-8">
$(function () {
    new Highcharts.Chart({
        chart: {
			renderTo: "container",
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            title: {
                text: 'Date'
            },
            categories: <%= raw @chart["labels"]%>
        },
        yAxis: {
            title: {
                text: 'Revenue'
            }
        },
        series: [{
            name: '$',
            data: <%= @chart["data"]%>
        }],
    });
});
</script>