<div class="box">
	<h2 class="fl">Summary</h2>
	<div class="clear"></div>
	<div id="rsummary">
		<%= render :partial =>  "revenue_summary" %>
	</div>
</div>

<div class="box">
    <h2 class="fl">History</h2>
	<div class="clear"></div>
	<div id="rhistory">
		<%= render :partial =>  "revenue_history" %>
    </div>
</div>
